<% if(locals.roleValue === 777) { %>
<a
  class="btn btn-primary my-2 ms-4"
  href="/api/v1/employee/add-employee"
  role="button"
  >Add New Employee</a
>
<% } %>

<div class="container mt-2">
  <div class="row">
    <div
      class="col-md-6 bg-primary-subtle p-5 border border-info"
      style="min-height: 70vh"
    >
      <h2>Assign Employee to Review</h2>
      <p>
        Note: Employee one email will be the reviewer, and employee two email
        will be reviewed by employee one
      </p>
      <form
        action="/api/v1/employee/assign-to-review"
        method="POST"
        class="pt-2"
      >
        <div class="mb-3">
          <label for="email" class="form-label"
            >Employee one email (Reviewer)</label
          >
          <input
            type="empOneEmail"
            class="form-control"
            id="email"
            name="email"
            placeholder="please enter emp one email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Employee Two email</label>
          <input
            type="empTwoEmail"
            class="form-control"
            id="email"
            name="email"
            placeholder="please enter emp one email"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary w-100">
          Assign To Review
        </button>
      </form>
    </div>
    <div
      class="col-md-6 bg-primary-subtle pt-1 px-2 border border-info"
      style="min-height: 70vh; overflow-y: auto; overflow-x: auto"
    >
      <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(employees.length) { employees.forEach(employee => { %>
          <tr>
            <th scope="row"><%= employee.empCode %></th>
            <td><%= employee.userName %></td>
            <td><%= employee.email %></td>
            <td><%= employee.role %></td>

            <td>
              <% if(locals.roleValue === 777) { %>
              <a
                class="icon-link icon-link-hover"
                style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)"
                href="/api/v1/employee/<%= employee.id %>"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 640 512"
                  class="text-primary"
                >
                  <path
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H322.8c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7l40.3-40.3c-32.1-31-75.7-50.1-123.9-50.1H178.3zm435.5-68.3c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM375.9 417c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L576.1 358.7l-71-71L375.9 417z"
                  />
                </svg>
              </a>

              <a
                class="icon-link icon-link-hover deleteUser"
                style="
                  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
                  cursor: pointer;
                "
                userId="<%= employee.id %>"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 448 512"
                  class="ms-2"
                >
                  <path
                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                  />
                </svg>
              </a>
              <% } %>
            </td>
          </tr>
          <% }) } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
